<a href="https://colab.research.google.com/github/technolearning/MachineLearning/blob/master/Variable_Identification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# importing pandas

import pandas as pd

In [0]:
# reading the dataset

file=pd.read_csv("data.csv")

In [11]:
# dimensions of the dataset

file.shape

(891, 12)

In [9]:
# head of the dataset

file.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [12]:
# identifying categorical and continuous variables 

file.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object